*.tflite
.DS_Store
*.DS_Store
Model/
TensorFlowLiteC/
TensorFlowLiteSwift/
HKUITLTD_PoseEstim_Framework_beta_3/HKUITLTD_PoseEstim_Framework.xcodeproj/xcuserdata/admin.xcuserdatad/
HKUITLTD_PoseEstim_Framework_beta_3/HKUITLTD_PoseEstim_Framework.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/
Example3/Example3.xcodeproj/xcuserdata/admin.xcuserdatad/
Example3/Example3.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/
Documentation.*
Example3/Example3.xcodeproj/project.pbxproj








